{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <title>Document</title>
</head>

<body>
    <div class="container">
        <form action="" method="post" class="contact-form">
            {% csrf_token %}
            <div class="form-control">
                <div class="tag">Full Name </div>
                <input type="text" name="full-name" id="">
            </div>
            <div class="form-control">
                <div class="tag">Email</div>
                <input type="text" name="email" id="">
            </div>
            <div class="form-control">
                <div class="tag">subject</div>
                <input type="text" name="subject" id="">
            </div>
            <div class="form-control">
                <div class="tag">Message</div>
                <textarea name="message" cols="30" rows="10" id="" cols="30" rows="10"></textarea>
            </div>
            <div class="form-control">
                <input type="submit" value="Send Message" class="btn submit-btn">
            </div>
        </form>
    </div>
</body>

</html>